:root {
    --primary-color: #23a6d5;
    --font-family: "Rubik", sans-serif;
}


body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    transition: opacity 2s, visibility 2s;
    z-index: 9999; 
  }

  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: var(--primary-color);
    border-radius: 50%;
    animation: loading 2s ease infinite;
  }
  
  @keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
  }
  
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 100; 
}

.logo {
    font-size: 40px;
    padding-left: 150px;
    z-index: 101; 
}

.main-navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 102; /* Ensure menu items stay above content */
}

header {
    margin-bottom: 130px;
}

.main-navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
}

.main-navigation li {
    list-style: none;
}

.main-navigation a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    font-weight: 500;
    font-size: 22px;
    transition: color 0.3s;
}

.black-text {
    color: #000;
    transition: color 0.5s ease;
}

.blue-text {
    color: var(--primary-color);
    transition: color 0.5s ease;
}

#on {
    color: var(--primary-color);
}

.main-navigation a:hover {
    color: var(--primary-color);
}

@media (max-width: 1100px) {
    .navbar {
        flex-direction: column;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .logo {
        font-size: 28px; 
        padding-left: 0;  
    }

    .text-container {
        margin-top: 0px !important;
    }

    .main-navigation {
        justify-content: center;
        width: 100%;
        gap: 20px;
        position: static;
    }
}


.main-section {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    padding: 20px;
    gap: 20px; 
}

.column {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    flex: 1; 
    max-width: 50%; 
    height: auto; 
    margin-bottom: 60px;
}

.text-container h2 {
    font-size: 30px;
}

.text-container {
    width: 700px;
    margin-top: 130px;
    font-weight: 500;
}

.text-container p {
    font-size: 22px;
}

.links {
    padding-top: 20px;
    margin-bottom: 100px;
}

.links a {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 15px 40px;
    border-radius: 5px;
    margin-right: 10px;
    transition: transform 0.3s ease, padding 0.5s cubic-bezier(0.5, 0, 0.1, 1);
}

.links a:hover {
    padding: 20px 50px;
}

@media (max-width: 1400px) {
    .main-section {
        flex-direction: column; 
    }

    .navbar {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
   
    .text-container2 {
        margin-top: 0px !important;
    }


    .column {
        max-width: 100%; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .text-container {
        margin-top: 0px !important;
    }

    .column h2 {
        text-align: center;
    }

    .links {
        text-align: center;
    }

    .project-headline {
        display: block !important; 
    }

    #aboutme {
        box-shadow: none !important; 
    }

    .image-container2 {
        margin-top: 0px !important;
        margin-right: 0px !important;
    }
}

.project-headline {
    display: none;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 40px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.image-container img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
    opacity: 0; 
    animation: fadeIn 2s forwards; 
}


#Topleft {
    animation-delay: 0.2s;
}

#TopRight {
    animation-delay: 0.4s;
}

#BottomLeft {
    animation-delay: 0.6s;
}

#BottomRight {
    animation-delay: 0.8s;
}


.image-container img:hover {
    transform: translate(-15px, -15px);
}

#TopRight:hover {
    transform: translate(15px, -15px);
}

#BottomLeft:hover {
    transform: translate(-15px, 15px);
}

#BottomRight:hover {
    transform: translate(15px, 15px);
}

.blue-footer {
    background-color: var(--primary-color);;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;

}


/* About me page */ 

.image-container2 {
    display: grid;
    margin-bottom: 60px;
    margin-top: 50px;
    margin-right: 100px;
}

.image-container2 img {
    height: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: height 0.5s ease;
}

.image-container2 img:hover {
    height: 550px;
}

.text-container2 {
    font-weight: 500;
}

.text-container2 h2 {
    font-size: 30px;
}

.text-container2 {
    width: 700px;
    margin-top: 90px;
}

.text-container2 p {
    font-size: 20px;
}

.links {
    padding-top: 20px;
}

#aboutme  {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#aboutme2 {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


/* Projects page */

